Research/KnowWE-Plugin-CaseTrain/src/main/resources/webapp/images/fall_110407.xsd

<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<!-- -->
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:ID">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_ID"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Title">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_TITEL"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Author" type="xs:string">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_AUTOR"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Version" type="xs:string">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_VERSION"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Comment" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_KOMMENTAR"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Todos" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Todo" type="xs:string" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation><![CDATA["FALL_TODO"]]></xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="History" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_HISTORIE"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Date" type="xs:string">
								<xs:annotation>
									<xs:documentation><![CDATA["FALL_DATUM"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Score">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="weighedObject">
											<xs:annotation>
												<xs:documentation><![CDATA[weight = "FALL_PUNKTZAHL"]]></xs:documentation>
											</xs:annotation>
											<xs:sequence>
												<xs:element name="RatingScheme" minOccurs="0">
													<xs:annotation>
														<xs:documentation><![CDATA[Notenschema]]></xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="RatingElement" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:attribute name="rating" type="positiveDecimal"
																		use="required" />
																	<xs:attribute name="lowerBoundary" type="positiveDecimal"
																		use="required" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="minScoreForSuccess" type="zeroToOne"
												use="required">
												<xs:annotation>
													<xs:documentation><![CDATA["BESTEHEN_AB"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="okTimeSeconds">
												<xs:annotation>
													<xs:documentation><![CDATA["ZEIT_GRENZE100"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="maxTimeSeconds">
												<xs:annotation>
													<xs:documentation><![CDATA["ZEIT_GRENZE0"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="weightTime" type="positiveDecimal">
												<xs:annotation>
													<xs:documentation><![CDATA["ZEIT_GEWICHT"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="instance_userTimeSeconds"
												type="xs:positiveInteger">
												<xs:annotation>
													<xs:documentation><![CDATA[[for resume only] total user time with this case]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Misc" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="feedback">
										<xs:annotation>
											<xs:documentation><![CDATA["FEEDBACK"]]></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="none">
													<xs:annotation>
														<xs:documentation><![CDATA["aus"]]></xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="endonly">
													<xs:annotation>
														<xs:documentation><![CDATA["Ende"]]></xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="available">
													<xs:annotation>
														<xs:documentation><![CDATA["verfügbar"]]></xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="auto">
													<xs:annotation>
														<xs:documentation><![CDATA["auto"]]></xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="forceauto">
													<xs:annotation>
														<xs:documentation><![CDATA["forceauto"]]></xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="colorScheme">
										<xs:annotation>
											<xs:documentation><![CDATA[[unused]]]></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="default" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="language">
										<xs:annotation>
											<xs:documentation><![CDATA["SPRACHE" (http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)]]></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="de" />
												<xs:enumeration value="en" />
												<xs:enumeration value="fr" />
												<xs:enumeration value="es" />
												<xs:enumeration value="it" />
												<xs:enumeration value="pt" />
												<xs:enumeration value="ru" />
												<xs:enumeration value="zh" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="showClock" type="xs:boolean">
										<xs:annotation>
											<xs:documentation><![CDATA["ZEIT_ANZEIGEN": only if okTimeSeconds & maxTimeSeconds then this setting is considered]]></xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element ref="URL" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["HINTERGRUNDWISSEN"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="URLText" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["HW_LINKTEXT"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DurationMinutes" type="xs:unsignedInt"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["DAUER_MIN"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Prereqs" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["VORAUSSETZUNGEN"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Difficulty" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["SCHWIERIGKEIT"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Notice" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["HINWEIS"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Keywords" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation><![CDATA["SCHLAGWORTE"]]></xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Intro" type="titledmmcontent">
					<xs:annotation>
						<xs:documentation><![CDATA["Einleitung"]]></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Sections">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="SimpleSection" />
							<xs:element name="InfoSection">
								<xs:annotation>
									<xs:documentation><![CDATA["Infowahl"]]></xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="weighedObject">
											<xs:sequence>
												<xs:element name="SelectItem" type="titledmmcontent">
													<xs:annotation>
														<xs:documentation><![CDATA[placeholder for "Infowahl" data]]></xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="InfoItem" minOccurs="0">
														<xs:annotation>
															<xs:documentation><![CDATA["Info" inside "Infowahl"]]></xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="basicSection">
																	<xs:attribute ref="id" use="required">
																		<xs:annotation>
																			<xs:documentation><![CDATA[*id* of corresponding *Term* in >terminology.xml]]></xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="value" type="xs:decimal">
																		<xs:annotation>
																			<xs:documentation><![CDATA[correctness or cost value (overwrites *Term*'s value)]]></xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="instance_UserItem" minOccurs="0"
														maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation><![CDATA[[for resume only] user chosen *Term* not refered in this xml]]></xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute ref="id" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:element name="DummyItem" minOccurs="0">
													<xs:annotation>
														<xs:documentation><![CDATA[text and value for the default ("*")]]></xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="mmcontent">
																<xs:attribute name="value" type="xs:decimal" />
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="Feedback" type="mmcontent"
													minOccurs="0">
													<xs:annotation>
														<xs:documentation><![CDATA["Infowahl\Erklärung"]]></xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element ref="Control" minOccurs="0" />
												<xs:element ref="instance_userComment" minOccurs="0" />
											</xs:sequence>
											<xs:attribute ref="id" use="required">
												<xs:annotation>
													<xs:documentation><![CDATA[*id* of corresponding root *Term* in >terminology.xml]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="type">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="cost">
															<xs:annotation>
																<xs:documentation><![CDATA["Infowahl" options "-P" (can be omitted, default)]]></xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="points">
															<xs:annotation>
																<xs:documentation><![CDATA["Infowahl" options "-K"]]></xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="lower" type="xs:decimal">
												<xs:annotation>
													<xs:documentation><![CDATA["untere Grenze"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="upper" type="xs:decimal">
												<xs:annotation>
													<xs:documentation><![CDATA["obere Grenze"]]></xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute ref="instance_userActivated" />
											<xs:attribute ref="instance_userScore" />
											<xs:attribute ref="instance_systemScore" />
											<xs:attribute ref="name" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Extro">
					<xs:annotation>
						<xs:documentation><![CDATA["Abschluss"]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="titledmmcontent">
								<xs:attribute ref="instance_userActivated" />
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Evaluation" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EvaluationSections">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element ref="SimpleSection">
											<xs:annotation>
												<xs:documentation><![CDATA["Evaluation" sections after *Extro*]]></xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EvaluationEnd">
								<xs:annotation>
									<xs:documentation><![CDATA["Ende"]]></xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="titledmmcontent">
											<xs:attribute ref="instance_userActivated" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute ref="instance_userActivated" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="Title" type="xs:string" />
	<xs:element name="URL" type="xs:anyURI" />
	<xs:element name="Text" type="xs:string" />
	<!-- -->
	<xs:element name="Content" type="xs:string" />
	<!-- -->
	<xs:complexType name="mmitem">
		<xs:sequence>
			<xs:element ref="URL" />
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video">
						<xs:annotation>
							<xs:documentation><![CDATA["Video"]]></xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="audio">
						<xs:annotation>
							<xs:documentation><![CDATA["Audio"]]></xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="image">
						<xs:annotation>
							<xs:documentation><![CDATA["Bild" (or inline image)]]></xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:element name="MultimediaItem" type="mmitem" />
	<!-- -->
	<xs:complexType name="mmcontent">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Content" minOccurs="0" />
			<xs:element ref="MultimediaItem" minOccurs="0" />
			<xs:element ref="Formula" minOccurs="0" />
		</xs:choice>
	</xs:complexType>
	<!-- mixed wird gebraucht um abwärtskompatibel sein zu können -->
	<xs:complexType name="mmmixedcontent" mixed="true">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Content" minOccurs="0" />
			<xs:element ref="MultimediaItem" minOccurs="0" />
			<xs:element ref="Formula" minOccurs="0" />
		</xs:choice>
	</xs:complexType>
	<!-- -->
	<xs:element name="Formula">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TeX" type="xs:string" />
				<xs:element name="MathML" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="titledmmcontent">
		<xs:complexContent>
			<xs:extension base="mmcontent">
				<xs:sequence>
					<xs:element ref="Title">
						<xs:annotation>
							<xs:documentation><![CDATA[section title]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="basicSection">
		<xs:complexContent>
			<xs:extension base="mmcontent">
				<xs:sequence>
					<xs:element name="Questions" minOccurs="0">
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="OCQuestion" type="choiceQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "OC"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="MCQuestion" type="choiceQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "MC"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="HLMMCQuestion" type="terminologyQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "MC" Darstellung "HLM"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="HLMOCQuestion" type="terminologyQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "OC" Darstellung "HLM"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LMMCQuestion" type="terminologyQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "MC" Darstellung "LM"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LMOCQuestion" type="terminologyQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "OC" Darstellung "LM"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="WordQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "W"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element ref="WordAnswers" />
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="OMWordQuestion" type="multiWordQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "OMW"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="UMWordQuestion" type="multiWordQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "UMW"]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NumQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "N"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element ref="NumAnswers" />
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="MNumQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "MN"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element ref="NumAnswers" minOccurs="2"
														maxOccurs="unbounded" />
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="TextQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "T"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element name="Solution" type="xs:string">
														<xs:annotation>
															<xs:documentation><![CDATA["Antwort" content]]></xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="instance_UserAnswer" type="xs:string"
														minOccurs="0">
														<xs:annotation>
															<xs:documentation><![CDATA[[for resume only] user's answer]]></xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="TextQuestionCorrectionFeatures"
														minOccurs="0">
														<xs:annotation>
															<xs:documentation><![CDATA[Korrektur-Features]]></xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:choice maxOccurs="unbounded">
																<xs:element name="KeyConceptsCorrectionFeature">
																	<xs:annotation>
																		<xs:documentation><![CDATA[Korrektur-Feature für Schlüsselkonzepte]]></xs:documentation>
																		<xs:documentation><![CDATA[hat immer: evaluationTargetSet="percentageAny"]]></xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="correctionFeature">
																				<xs:sequence>
																					<xs:element name="KeyConcepts">
																						<xs:complexType>
																							<xs:choice maxOccurs="unbounded">
																								<xs:element name="KeyConcept">
																									<xs:complexType>
																										<xs:complexContent>
																											<xs:extension base="weighedObject">
																												<xs:sequence>
																													<xs:element ref="Text" />
																												</xs:sequence>
																												<xs:attribute ref="evaluationTargetSet" />
																											</xs:extension>
																										</xs:complexContent>
																									</xs:complexType>
																								</xs:element>
																							</xs:choice>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="OrthographyCorrectionFeature">
																	<xs:annotation>
																		<xs:documentation><![CDATA[Korrektur-Feature für die Rechtschreibung]]></xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="correctionFeature" />
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="GrammarCorrectionFeature">
																	<xs:annotation>
																		<xs:documentation><![CDATA[Korrektur für Grammatik/Satzbau.]]></xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="correctionFeature" />
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="GeneralCorrectionFeature">
																	<xs:annotation>
																		<xs:documentation><![CDATA[allgemeines Korrektur-Feature]]></xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="correctionFeature" />
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="GraphicInputQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "GI"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="graphicQuestion">
												<xs:sequence>
													<xs:element name="Solution" type="mmitem" />
													<xs:element name="instance_UserAnswer" type="xs:string"
														minOccurs="0">
														<xs:annotation>
															<xs:documentation><![CDATA[[for resume only] (here img id of) user's answer]]></xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="GraphicMarkingQuestion">
									<xs:annotation>
										<xs:documentation><![CDATA[Typ "GM"]]></xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="graphicQuestion">
												<xs:sequence>
													<xs:element name="Solution"
														type="graphicMarkingQuestionSolution" />
													<xs:element name="instance_UserAnswer"
														type="graphicMarkingQuestionSolution" />
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="instance_userActivated" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:element name="SimpleSection">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicSection">
					<xs:sequence>
						<xs:element ref="Title">
							<xs:annotation>
								<xs:documentation><![CDATA["Info" content title]]></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="Control" minOccurs="0" />
					</xs:sequence>
					<xs:attribute ref="name" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="Control">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="Rule" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ConditionWrapper" />
							<xs:element ref="Goto" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Goto" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="ConditionWrapper">
		<xs:complexType>
			<xs:choice>
				<xs:element name="SimpleMultiCondition">
					<xs:annotation>
						<xs:documentation><![CDATA[conditions like 'question n answers in/m-of a, b, c']]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="simpleQuestionCondition">
								<xs:sequence>
									<xs:element ref="ConditionAnswer" minOccurs="2"
										maxOccurs="unbounded" />
								</xs:sequence>
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="m-of">
												<xs:annotation>
													<xs:documentation><![CDATA["-AUS"]]></xs:documentation>
												</xs:annotation>
											</xs:enumeration>
											<xs:enumeration value="in">
												<xs:annotation>
													<xs:documentation><![CDATA["IN"]]></xs:documentation>
												</xs:annotation>
											</xs:enumeration>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="m" type="xs:positiveInteger">
									<xs:annotation>
										<xs:documentation><![CDATA[m"-AUS"]]></xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SimpleSingleCondition">
					<xs:annotation>
						<xs:documentation><![CDATA[conditions like 'question n answered with a']]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="simpleQuestionCondition">
								<xs:sequence>
									<xs:element ref="ConditionAnswer" />
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SimpleTimeoutCondition" type="simpleQuestionCondition">
					<xs:annotation>
						<xs:documentation><![CDATA["TIMEOUT"]]></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SimpleNoAnswerCondition" type="simpleQuestionCondition">
					<xs:annotation>
						<xs:documentation><![CDATA["KA"]]></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SimpleScoreCondition">
					<xs:annotation>
						<xs:documentation><![CDATA[conditions like 'score of {obj} = x"]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="question">
										<xs:annotation>
											<xs:documentation><![CDATA["{Number}:"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="section">
										<xs:annotation>
											<xs:documentation><![CDATA[":"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="total">
										<xs:annotation>
											<xs:documentation><![CDATA["GESAMT:"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="question" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation><![CDATA[[for type=question only] question number as in *simpleQuestionCondition*]]></xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="op" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="less">
										<xs:annotation>
											<xs:documentation><![CDATA["<"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="lessOrEqual">
										<xs:annotation>
											<xs:documentation><![CDATA["<="]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="equal">
										<xs:annotation>
											<xs:documentation><![CDATA["="]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="greaterOrEqual">
										<xs:annotation>
											<xs:documentation><![CDATA[">="]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="greater">
										<xs:annotation>
											<xs:documentation><![CDATA[">"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="notEqual">
										<xs:annotation>
											<xs:documentation><![CDATA["<>"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="score" type="zeroToOne" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="ComplexMultiCondition">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ConditionWrapper" minOccurs="2"
								maxOccurs="unbounded" />
						</xs:sequence>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="and">
										<xs:annotation>
											<xs:documentation><![CDATA["UND"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="or">
										<xs:annotation>
											<xs:documentation><![CDATA["ODER"]]></xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ComplexNotCondition">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ConditionWrapper" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="ConditionAnswer" type="xs:string" />
	<!-- -->
	<xs:complexType name="simpleQuestionCondition">
		<xs:attribute name="question" type="xs:positiveInteger"
			use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[question number in enclosing section (beginning with 1)]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:element name="Goto">
		<xs:annotation>
			<xs:documentation><![CDATA["WEITER"]]></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="target" type="xs:string">
				<xs:annotation>
					<xs:documentation><![CDATA[*name* of section]]></xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="gotoEnd" type="xs:boolean">
				<xs:annotation>
					<xs:documentation><![CDATA["ENDE"]]></xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="weighedObject">
		<xs:attribute ref="weight" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA["Gewicht"]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:simpleType name="zeroToOne">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveDecimal">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="basicQuestion">
		<xs:complexContent>
			<xs:extension base="weighedObject">
				<xs:sequence>
					<xs:element ref="Text">
						<xs:annotation>
							<xs:documentation><![CDATA[ist leer wenn MMText existiert]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MMText" type="mmcontent" minOccurs="0" />
					<xs:element name="Info" type="mmmixedcontent" minOccurs="0">
						<xs:annotation>
							<xs:documentation><![CDATA["Hinweis"]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hint" type="mmcontent" minOccurs="0">
						<xs:annotation>
							<xs:documentation><![CDATA["Tipp"]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Feedback" type="mmcontent" minOccurs="0">
						<xs:annotation>
							<xs:documentation><![CDATA["Erklärung"]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnswerIntro" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation><![CDATA[second paragraph of "Frage" content]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="instance_userComment" minOccurs="0" />
					<xs:element name="instance_userMark" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation><![CDATA[[for resume only][for exam mode] user's mark]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="thresholdNull" type="xs:decimal">
					<xs:annotation>
						<xs:documentation><![CDATA["Frage" options "0%-Grenze"]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="thresholdFull" type="xs:decimal">
					<xs:annotation>
						<xs:documentation><![CDATA["Frage" options "100%-Grenze"]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="categorizing" type="xs:boolean">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] "Frage" options "-K"]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="okTimeSeconds">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] "Frage" options: max time to get 100%]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="maxTimeSeconds">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] "Frage" options: when exceeded score is set to 0%]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="instance_userAnswered" type="xs:boolean">
					<xs:annotation>
						<xs:documentation><![CDATA[[for resume only] iff user answered this question]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="instance_userLastTouched" type="xs:boolean">
					<xs:annotation>
						<xs:documentation><![CDATA[[for resume only] true iff user paused/ended case here]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="instance_userScore" />
				<xs:attribute ref="instance_systemScore" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:element name="instance_userComment" type="xs:string">
		<xs:annotation>
			<xs:documentation><![CDATA[[for resume only] user's comment to question or "Infowahl"]]></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="instance_userScore" type="zeroToOne">
		<xs:annotation>
			<xs:documentation><![CDATA[[for resume only] score proposed by user]]></xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="instance_systemScore" type="zeroToOne">
		<xs:annotation>
			<xs:documentation><![CDATA[[for resume and finished case output] the system's score for the user's answers]]></xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="instance_userActivated" type="xs:boolean">
		<xs:annotation>
			<xs:documentation><![CDATA[[for resume only] true iff user triggered the object]]></xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="name" type="xs:ID">
		<xs:annotation>
			<xs:documentation><![CDATA[name of section (to be used as *Goto* *target* in non-linear cases)]]></xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="id" type="xs:string" />
	<xs:attribute name="okTimeSeconds" type="xs:unsignedInt" />
	<xs:attribute name="maxTimeSeconds" type="xs:unsignedInt" />
	<xs:attribute name="weight" type="positiveDecimal" />
	<!-- -->
	<xs:complexType name="basicAnswer">
		<xs:sequence>
			<xs:element name="SimpleFeedback" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA[the with {} enclosed text behind the answer]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="posFactor" type="positiveDecimal"
			use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[{x ...}]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="negFactor" type="xs:decimal">
			<xs:annotation>
				<xs:documentation><![CDATA[{... x}]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="instance_isUserAnswer" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[[for resume only] iff user checked this answer]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="choiceQuestion">
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element name="Answers">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Answer" type="choiceAnswer"
									minOccurs="2" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="choiceAnswer">
		<xs:complexContent>
			<xs:extension base="basicAnswer">
				<xs:sequence>
					<xs:element ref="Text" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="inputAnswers">
		<xs:sequence>
			<xs:element name="AnswerPrefix" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA["Antwort" "Präfix"]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnswerPostfix" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA["Antwort" "Postfix"]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnswerCaption" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA["Antwort" "Überschrift"]]></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instance_UserAnswer" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation><![CDATA[[for resume only] user's input]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="weight" />
	</xs:complexType>
	<!-- -->
	<xs:element name="NumAnswers">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inputAnswers">
					<xs:choice maxOccurs="unbounded">
						<xs:element name="NumAnswer">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basicAnswer">
										<xs:attribute name="value" type="xs:decimal">
											<xs:annotation>
												<xs:documentation><![CDATA["Antwort" some number]]></xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NumAnswerInterval">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basicAnswer">
										<xs:attribute name="lower" type="xs:decimal">
											<xs:annotation>
												<xs:documentation><![CDATA["Antwort" first (of two) numbers]]></xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="upper" type="xs:decimal">
											<xs:annotation>
												<xs:documentation><![CDATA["Antwort" second (of two) numbers]]></xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="WordAnswers">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inputAnswers">
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="WordAnswer">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="choiceAnswer">
										<xs:attribute name="isRegularExpression" type="xs:boolean">
											<xs:annotation>
												<xs:documentation><![CDATA["Antwort" "{r}"]]></xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="editDistance" type="xs:unsignedInt">
											<xs:annotation>
												<xs:documentation><![CDATA["Antwort" "{some number}"]]></xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="multiWordQuestion">
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element ref="WordAnswers" minOccurs="2" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="terminologyQuestion">
		<xs:annotation>
			<xs:documentation><![CDATA[similar to "Infowahl" structure, the default values are specified as *posFactorDefault* and *negFactorDefault*]]></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element name="IDAnswers">
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="IDAnswer" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicAnswer">
												<xs:attribute ref="id" use="required" />
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="instance_UserAnswer" minOccurs="0">
									<xs:complexType>
										<xs:attribute ref="id" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="id" use="required" />
				<xs:attribute name="posFactorDefault" type="positiveDecimal" />
				<xs:attribute name="negFactorDefault" type="xs:decimal" />
				<xs:attribute name="genericHierarchyScoring" type="xs:boolean">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] "Frage" options "-S"]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="graphicQuestion">
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element name="Background" type="mmitem" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="colorCode" type="xs:string">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] TODO]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="eraseable" type="xs:boolean">
					<xs:annotation>
						<xs:documentation><![CDATA[[future extension] TODO]]></xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="graphicMarkingQuestionSolution">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Marking">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="weighedObject">
							<xs:sequence>
								<xs:element name="RegionXYPoints" type="xs:string">
									<xs:annotation>
										<xs:documentation><![CDATA[read from image: x1 y1 x2 y2 x3 y3 where x=0 is left and y=0 is top]]></xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="WordAnswers" minOccurs="0" />
							</xs:sequence>
							<xs:attribute name="regionWeight" type="positiveDecimal">
								<xs:annotation>
									<xs:documentation><![CDATA[[future extension] TODO]]></xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="tooMuchPunishmentFactor" type="positiveDecimal">
								<xs:annotation>
									<xs:documentation><![CDATA[[future extension] TODO]]></xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="tooLittlePunishmentFactor" type="positiveDecimal">
								<xs:annotation>
									<xs:documentation><![CDATA[[future extension] TODO]]></xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="thresholdNull" type="xs:decimal">
								<xs:annotation>
									<xs:documentation><![CDATA[marking "0%-Grenze"]]></xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="thresholdFull" type="xs:decimal">
								<xs:annotation>
									<xs:documentation><![CDATA[marking "100%-Grenze"]]></xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="correctionFeature">
		<xs:complexContent>
			<xs:extension base="weighedObject">
				<xs:sequence>
					<xs:element ref="Title">
						<xs:annotation>
							<xs:documentation><![CDATA[Kurztitel]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation><![CDATA[ausführliche Beschreibung]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="evaluationTargetSet" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:attribute name="evaluationTargetSet">
		<xs:annotation>
			<xs:documentation><![CDATA[Wertebereiche für Bewertung eines Korrektur Features]]></xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="binary">
					<xs:annotation>
						<xs:documentation><![CDATA[binär, z.B. Ja und Nein]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="ternary">
					<xs:annotation>
						<xs:documentation><![CDATA[ternär, z.B. Ja, Nein, teilweise]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="percentageSteps33">
					<xs:annotation>
						<xs:documentation><![CDATA[4 Stufen: 0%, 33%, 67%, 100%]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="percentageSteps25">
					<xs:annotation>
						<xs:documentation><![CDATA[5 Stufen: 0%, 25%, 50%, 75%, 100%]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="percentageSteps10">
					<xs:annotation>
						<xs:documentation><![CDATA[11 Stufen: 0%, 10%, 20%,..., 100%]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="percentageAny">
					<xs:annotation>
						<xs:documentation><![CDATA[beliebiger Wert zwischen 0 und 1]]></xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>