Research/KnowWE-Plugin-CaseTrain/src/main/resources/webapp/casetrainresources/e_exam_fall_100312.xsd

<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- -->
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:ID"/>
							<xs:element ref="Title"/>
							<xs:element name="Author" type="xs:string"/>
							<xs:element name="Version" type="xs:string"/>
							<xs:element name="Comment" type="xs:string" minOccurs="0"/>
							<xs:element name="Todos" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Todo" type="xs:string" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="History" type="xs:string" minOccurs="0"/>
							<xs:element name="Date" type="xs:string"/>
							<xs:element name="Score">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="weighedObject">
											<xs:attribute name="minScoreForSuccess" type="zeroToOne" use="required"/>
											<xs:attribute ref="okTimeSeconds"/>
											<xs:attribute ref="maxTimeSeconds"/>
											<xs:attribute name="weightTime" type="positiveDecimal"/>
											<xs:attribute name="instance_userTimeSeconds" type="xs:positiveInteger"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Misc" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="feedback">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="none"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="language">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="de"/>
												<xs:enumeration value="en"/>
												<xs:enumeration value="fr"/>
												<xs:enumeration value="es"/>
												<xs:enumeration value="it"/>
												<xs:enumeration value="pt"/>
												<xs:enumeration value="ru"/>
												<xs:enumeration value="zh"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Keywords" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Intro" type="titledmmcontent"/>
				<xs:element name="Sections">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="SimpleSection"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Extro">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="titledmmcontent">
								<xs:attribute ref="instance_userActivated"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="URL" type="xs:anyURI"/>
	<xs:element name="Text" type="xs:string"/>
	<!-- -->
	<xs:element name="Content" type="xs:string"/>
	<!-- -->
	<xs:complexType name="mmitem">
		<xs:sequence>
			<xs:element ref="URL"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="video"/>
					<xs:enumeration value="audio"/>
					<xs:enumeration value="image"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:element name="MultimediaItem" type="mmitem"/>
	<!-- -->
	<xs:complexType name="mmcontent">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Content" minOccurs="0"/>
			<xs:element ref="MultimediaItem" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- mixed wird gebraucht um abwärtskompatibel sein zu können -->
	<xs:complexType name="mmmixedcontent" mixed="true">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Content" minOccurs="0"/>
			<xs:element ref="MultimediaItem" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="titledmmcontent">
		<xs:complexContent>
			<xs:extension base="mmcontent">
				<xs:sequence>
					<xs:element ref="Title"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="basicSection">
		<xs:complexContent>
			<xs:extension base="mmcontent">
				<xs:sequence>
					<xs:element name="Questions" minOccurs="0">
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="OCQuestion" type="choiceQuestion"/>
								<xs:element name="MCQuestion" type="choiceQuestion"/>
								<xs:element name="WordQuestion">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element ref="WordAnswers"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="NumQuestion">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element ref="NumAnswers"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="TextQuestion">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="basicQuestion">
												<xs:sequence>
													<xs:element name="Solution" type="xs:string"/>
													<xs:element name="instance_UserAnswer" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="GraphicInputQuestion">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="graphicalQuestion">
												<xs:sequence>
													<xs:element name="Solution" type="mmitem"/>
													<xs:element name="instance_UserAnswer" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="GraphicMarkingQuestion">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="graphicalQuestion">
												<xs:sequence>
													<xs:element name="Solution" type="graphicalMarkingQuestionSolution"/>
													<xs:element name="instance_UserAnswer" type="graphicalMarkingQuestionSolution"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="instance_userActivated"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:element name="SimpleSection">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicSection">
					<xs:sequence>
						<xs:element ref="Title"/>
					</xs:sequence>
					<xs:attribute ref="name"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="weighedObject">
		<xs:attribute ref="weight" use="required"/>
	</xs:complexType>
	<!-- -->
	<xs:simpleType name="zeroToOne">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveDecimal">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="basicQuestion">
		<xs:complexContent>
			<xs:extension base="weighedObject">
				<xs:sequence>
					<xs:element ref="Text"/>
					<xs:element name="Feedback" type="mmcontent" minOccurs="0"/>
					<xs:element name="AnswerIntro" type="xs:string" minOccurs="0"/>
					<xs:element ref="instance_userComment" minOccurs="0"/>
					<xs:element name="instance_userMark" type="xs:string" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="thresholdNull" type="xs:decimal"/>
				<xs:attribute name="thresholdFull" type="xs:decimal"/>
				<xs:attribute ref="okTimeSeconds"/>
				<xs:attribute ref="maxTimeSeconds"/>
				<xs:attribute name="instance_userAnswered" type="xs:boolean"/>
				<xs:attribute name="instance_userLastTouched" type="xs:boolean"/>
				<xs:attribute ref="instance_userScore"/>
				<xs:attribute ref="instance_systemScore"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:element name="instance_userComment" type="xs:string"/>
	<xs:attribute name="instance_userScore" type="zeroToOne"/>
	<xs:attribute name="instance_systemScore" type="zeroToOne"/>
	<xs:attribute name="instance_userActivated" type="xs:boolean"/>
	<xs:attribute name="name" type="xs:ID"/>
	<xs:attribute name="id" type="xs:string"/>
	<xs:attribute name="okTimeSeconds" type="xs:unsignedInt"/>
	<xs:attribute name="maxTimeSeconds" type="xs:unsignedInt"/>
	<xs:attribute name="weight" type="positiveDecimal"/>
	<!-- -->
	<xs:complexType name="basicAnswer">
		<xs:sequence>
			<xs:element name="SimpleFeedback" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="posFactor" type="positiveDecimal" use="required"/>
		<xs:attribute name="negFactor" type="xs:decimal"/>
		<xs:attribute name="instance_isUserAnswer" type="xs:boolean"/>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="choiceQuestion">
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element name="Answers">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Answer" type="choiceAnswer" minOccurs="2" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="choiceAnswer">
		<xs:complexContent>
			<xs:extension base="basicAnswer">
				<xs:sequence>
					<xs:element ref="Text"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="inputAnswers">
		<xs:sequence>
			<xs:element name="AnswerPrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="AnswerPostfix" type="xs:string" minOccurs="0"/>
			<xs:element name="instance_UserAnswer" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="weight"/>
	</xs:complexType>
	<!-- -->
	<xs:element name="NumAnswers">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inputAnswers">
					<xs:choice maxOccurs="unbounded">
						<xs:element name="NumAnswer">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basicAnswer">
										<xs:attribute name="value" type="xs:decimal"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NumAnswerInterval">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basicAnswer">
										<xs:attribute name="lower" type="xs:decimal"/>
										<xs:attribute name="upper" type="xs:decimal"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="WordAnswers">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inputAnswers">
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="WordAnswer">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="choiceAnswer">
										<xs:attribute name="isRegularExpression" type="xs:boolean"/>
										<xs:attribute name="editDistance" type="xs:unsignedInt"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="graphicalQuestion">
		<xs:complexContent>
			<xs:extension base="basicQuestion">
				<xs:sequence>
					<xs:element name="Background" type="mmitem" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="colorCode" type="xs:string"/>
				<xs:attribute name="eraseable" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="graphicalMarkingQuestionSolution">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Marking">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="weighedObject">
							<xs:sequence>
								<xs:element name="RegionXYPoints" type="xs:string"/>
								<xs:element ref="WordAnswers" minOccurs="0"/>
							</xs:sequence>
							<xs:attribute name="regionToTextFactor" type="positiveDecimal"/>
							<xs:attribute name="tooMuchPunishmentFactor" type="positiveDecimal"/>
							<xs:attribute name="tooLittlePunishmentFactor" type="positiveDecimal"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
